
/* Each element for the construction of the gooberts. 
Width and Height refer to the size of the overall sprite.
Top and Left change position of sprite.
 */
#goobert-legs, #goobert-body, #goobert-mouth, #goobert-eyes {
    width: 64px;
    height: 64px;
    scale: 3 3;
    image-rendering: crisp-edges;
}
/*Background position gets set to the top-left corner of the
desired sprite in the sheet (-64px for each spot moved). 
Z-index refers to the order in which they're layered on top
of each other.*/
#goobert-legs {
    background-image: url(assets/goobert-parts/208-tamagotchi-legs.png);
    background-position-x: 0px;
    background-position-y: 0px;
    z-index: 1;
}
#goobert-body {
    background-image: url(assets/goobert-parts/208-tamagotchi-bodies.png);
    background-position-x: 0px;
    background-position-y: 0px;
    z-index: 2;
}
#goobert-mouth {
    background-image: url(assets/goobert-parts/208-tamagotchi-mouths.png);
    background-position-x: 0px;
    background-position-y: 0px;
    z-index: 3;
}
#goobert-eyes {
    background-image: url(assets/goobert-parts/208-tamagotchi-eyes.png);
    background-position-x: 0px;
    background-position-y: 0px;
    z-index: 4;
}